#maindiv{
    background-color: rgb(151, 207, 255);
    min-width: 320px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    /* border */
    border: 10px;
    border-style: solid;
    border-color: rgb(151, 207, 255);
    display: table; /* make up the problem */
}
/* accessity too high */
/* #maindiv > div{
    height: 50px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
} */
#div01,#div02,#div03,#div04,#div05{
    height: 50px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}
#div01{
    background-color: rgb(117, 175, 255);

    /* border */
    margin-bottom: 10px;
}
#div02{
    background-color: rgb(117, 255, 227);

    /* border */
    margin-bottom: 10px;
}
#div03{
    background-color: rgb(255, 248, 117);

    /* border */
    margin-bottom: 10px;
}
#div04{
    background-color: rgb(255, 200, 117);

    /* border */
    margin-bottom: 10px;
}
#div05{
    background-color: rgb(255, 117, 237);
}

/* step02 */
@media screen and (min-width:401px) {
    #div01{
        width: calc(((((100% - 20px) / 3) * 2) + 10px));
        float: left;

    }
    #div02{
        width: calc(((100% - 20px) / 3));
        height: 100px;
        float: right;
    }
    #div03{
        width: calc((100% - 20px) / 3);
        height: 100px;
        float: left;
        margin-bottom: 0px;
    }
    #div04{
        width: calc((100% - 20px) / 3);
        float: left;
        margin-left: 10px;
        height: 40px;
    }
    #div05{
        width: calc(((100% - 20px) / 3) * 2 + 10px);
        float: right;
    }
}

/* step03 */
@media screen and (min-width:601px) {
    #div01{
        width: 100%;
        float: none;
    }
    #div02{
        width: calc(((100% - 20px) / 3));
        height: 90px;
        float: left;
    }
    #div03{
        width: calc((100% - 20px) / 3 * 2 + 10px);
        height: 40px;
        margin-left: 10px;
    }
    #div04{
        width: calc((100% - 20px) / 3 * 2 + 10px);
        height: 40px;
        margin-top: 10px;
    }
    #div05{
        width: 100%;
    }
}
/* step04 */
@media screen and (min-width:801px) {
    #div02{
        height: 100px;
        width: calc((100% - 20px) /3);
    }
    #div03{
        width: calc((100% - 20px) /3);
        height: 100px;

        margin-left: 10px;
    }
    #div04{
        width: calc((100% - 20px) /3);
        height: 100px;
        margin-top: 0px;
    }
}
/* step05 */
/* use absolute position */
@media screen and (min-width:1001px) {
    #maindiv{
        position: relative;
        height: 220px;
    }
    #div01{
        position: absolute;
        width: calc(100%);
        bottom: -10px;
        margin-top: 10px;
    }
    #div02{
        position: absolute;
        width: calc((100% - 20px) /3);
        height: 100px;
        top: 50px;
        right: 0px;
        margin-top: 10px;
    }
    #div03{
        position: absolute;
        width: calc((100% - 20px) / 3);
        height: 100px;
        left: calc((100% - 20px) / 3);
        top: 50px;
        margin-top: 10px;
    }
    #div04{
        position: absolute;
        width: calc((100% - 20px) / 3);
        height: 100px;
        top: 50px;
        left: 0px;
        margin-top: 10px;
        margin-left: 0px;
    }
    #div05{
        position: absolute;
        top: 0px;
    }
}